.image {
    /*height: 800px;*/
/*    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;*/

    /*z-index: 4;*/
    /*height: 100%;
    width: 100%;*/
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    top: 15%;
    left: 3px;
}
#kudlaty{
    left: 1200px;
}


.react-logo{
    display: inline-block;
    border-radius:50%;
    border:10px solid #00d8ff;

    animation-name:rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.react-logo , .react-logo:before , .react-logo:after{
    position:absolute;
    display: inline-block;
    width:250px;
    height:90px;
    border-radius:50%;
    border:10px solid #00d8ff;
}

.nucleo , .react-logo , .react-logo:before , .react-logo:after {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nucleo{
    width:40px;
    height:40px;
    border-radius:100%;
    background:#00d8ff;
}

.react-logo:before , .react-logo:after{
    content:"";
}

.react-logo:after{
    transform:rotate(-57deg);
}

.react-logo:before{
    transform:rotate(57deg);
}


@keyframes rotate{

    100%{
        transform:rotate(360deg);
    }
}
