body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
#profile-section1 {
  !*background: red;*!
  bottom: 100%
}
#profile-section2 {
 !* background: blue;*!
  bottom: 200%
}
#profile-section3 {
 !* background: green*!;
  bottom: 300%;
  scroll-behavior: smooth;
}
*/
